.card-ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.card-li {
    flex: 0 0 25%;
    max-width: 25%;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 3px;
}


.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 8px;
}

.card-credit {
    color: #AAAAAA;
    padding-top: 4px;
    // margin-bottom: 3px;
    font-size: 13px;
    font-family: "ARS Maquette","Helvetica Neue",Arial,sans-serif;
}

h4 {
    font-size: 16px;
    font-family: "ARS Maquette","Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 1px;
}

@media (max-width: 1023px) {
    .card-li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (max-width: 767px) {
    .card-li {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
        height: auto;
        min-height: 72px;
    }

    .card-image {
        width: 75px;
        height: 75px;
        float: left;
        margin-right: 13px;
    }
}


.card-div {
    border-radius: 5px;
    background-color: red;
    // width: 100%;
}