@use "variables";

#fixed-header {
	@include variables.sitediv(white);
	height: 78px;
}

.real-fixed {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 1;
	display: none;
}

#fixed-header > div:first-child {
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#fixed-header-ul {
	display: flex;
	color: #aaaaaa;
	display: flex;
    align-items: center;
    height: 100%;
}

#logo {
	display: none;
	padding: 0;
}

#fixed-header-ul > * {
	padding-left: 12px;
	font-family: Shentox, sans-serif;
	font-size: 14px;
	font-weight: 500;
	padding-right: 12px;
}

#fixed-header-ul > *:first-child {
	padding: 0;
}

#fixed-header-ul > *:nth-child(2) {
	padding-left: 20px;
}

#search {
	padding-left: 16px;
	padding-right: 16px;
    height: 100%;
    width: 30px;
    border-left: 1px solid lightgray;
    display: flex;
    align-items: center;
}

#search * {
    border: 1px solid red;
}






#fixed-header > div:last-child {
	height: 30px;
	background-color: #fd3;
	display: flex;
	align-items: center;
}

#fixed-header p {
	// padding-left: 126px;
	padding-left: 20px;
	font-size: 13px;
	font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
	font-stretch: 100%;
}
