footer {
    text-align: center;
    background-color: black;
    padding-top: 39px;
    padding-bottom: 39px;
}

@media (max-width: 767px) {
    footer {
        padding: 3em 0;
    }

    footer span  {
        display: block;
    }
}

footer > p {
    color: white;
}