@mixin sitediv($color) {
	display: block;
	background-color: $color;
}

$sitered: rgb(255, 68, 34);
$sitepink: rgba(255, 68, 34, 0.08);

h2 {
	color: $sitered;
	font-family: Avalon, sans-serif;
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 24px;
}