@use "reset";
@use "cards";
@use "blackheader";
@use "fixedheader";
@use "variables";

#wrapper {
	max-width: 1192px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

#wrapper > * {
	margin-bottom: 2em;
}

#top-photos {
	@include variables.sitediv(red);
	display: block;
	height: 75vh;
	max-height: 560px;
	box-sizing: border-box;
	border: 2px solid black;
	overflow: hidden;
}

@media (max-width: 1023px) and (min-width: 768px) {
	#top-photos {
		height: 60vh;
	}
}

@media (max-width: 767px) {
	#top-photos {
		height: 90vh;
	}
}

#latest-news {
	@include variables.sitediv(green);
	display: block;
}

#latest-news > h2 {
	color: red;
	display: inline;
}

#latest-funding {
	@include variables.sitediv(orange);
}

.funding-divs {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 767px) {
	.funding-divs {
		display: block;
	}
}

.funding-div {
	flex: 0 0 25%;
	max-width: 25%;
	background-color: pink;
	min-height: 60px;
	border-radius: 5px;
	border: 1px solid black;
	height: 200px;
	box-sizing: border-box;
}

@media (max-width: 1023px) {
	.funding-div {
		flex: 0 0 33%;
		max-width: 33%;
		height: 150px;
	}

	.funding-div:last-child {
		display: none;
	}
}

@media (max-width: 767px) {
	.funding-div {
		flex: 0 0 auto;
		max-width: 100%;
		height: 200px;
	}

	.funding-div:last-child {
		display: none;
	}
}

#articles {
	@include variables.sitediv(purple);
	display: flex;
	flex-wrap: wrap;
}

.article {
	flex: 0 0 33%;
	max-width: 33%;
	background-color: pink;
	border: 1px solid grey;
	border-radius: 5px;
	box-sizing: border-box;
	height: 400px;
}

@media (max-width: 1023px) {
	.article {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (max-width: 767px) {
	.article {
		flex: 0 0 100%;
		max-width: 100%;
		height: 500px;
	}
}

#latest-deals {
	@include variables.sitediv(red);
}

#socials-etc {
	@include variables.sitediv(cyan);
	height: 100px;
}

footer {
	@include variables.sitediv(magenta);
	height: 100px;
}

// Child Elements

.top-photo {
	height: 50%;
	width: 33%;
	float: left;
	background-color: yellowgreen;
	border-radius: 5px;
	margin: 1px;
}

.top-photo:first-child {
	height: 100%;
	width: 65%;
}

@media (max-width: 767px) {
	.top-photo {
		min-height: 30vh;
		width: 100%;
		height: auto;
		float: none;
	}

	.top-photo:first-child {
		height: auto;
		width: 100%;
	}
}

// .top-photo
