/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card-ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
}

.card-li {
  flex: 0 0 25%;
  max-width: 25%;
  background-color: pink;
  border: 2px solid grey;
  box-sizing: border-box;
  height: 200px;
}

@media (max-width: 1023px) {
  .card-li {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media (max-width: 767px) {
  .card-li {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 72px;
  }
}
.card-div {
  border-radius: 5px;
  background-color: red;
}

#wrapper {
  max-width: 1192px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

#black-header {
  display: block;
  background-color: black;
  height: 30px;
}

#fixed-header {
  display: block;
  background-color: yellow;
  height: 80px;
}

#top-photos {
  display: block;
  background-color: red;
  display: block;
  height: 75vh;
  max-height: 560px;
  box-sizing: border-box;
  border: 2px solid black;
  overflow: hidden;
}

@media (max-width: 1023px) and (min-width: 768px) {
  #top-photos {
    height: 60vh;
  }
}
@media (max-width: 767px) {
  #top-photos {
    height: 90vh;
  }
}
#latest-news {
  display: block;
  background-color: green;
  display: block;
}

#latest-news > h2 {
  color: red;
  display: inline;
}

#latest-funding {
  display: block;
  background-color: orange;
  height: 200px;
}

#articles {
  display: block;
  background-color: purple;
  height: 400px;
}

#latest-deals {
  display: block;
  background-color: red;
}

#socials-etc {
  display: block;
  background-color: cyan;
  height: 100px;
}

footer {
  display: block;
  background-color: magenta;
  height: 100px;
}

.top-photo {
  height: 50%;
  width: 33%;
  float: left;
  background-color: yellowgreen;
  border-radius: 5px;
  margin: 1px;
}

.top-photo:first-child {
  height: 100%;
  width: 65%;
}

@media (max-width: 767px) {
  .top-photo {
    min-height: 30vh;
    width: 100%;
    height: auto;
    float: none;
  }

  .top-photo:first-child {
    height: auto;
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
