@use "reset";
@use "cards";

@mixin sitediv($color) {
	display: block;
	background-color: $color;
}

#wrapper {
	max-width: 1192px;
	padding-left: 20px; 
	padding-right: 20px; 
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

#black-header {
	@include sitediv(black);
	height: 30px;
}

#fixed-header {
	@include sitediv(yellow);
	height: 80px;
}

#top-photos {
	@include sitediv(red);
	display: block;
	height: 75vh;
	max-height: 560px;
	box-sizing: border-box;
	border: 2px solid black;
	overflow: hidden;
}

@media (max-width: 1023px) and (min-width: 768px) {
	#top-photos {
		height: 60vh;
	}
}

@media (max-width: 767px) {
	#top-photos {
		height: 90vh;
	}
}

#latest-news {
	@include sitediv(green);
	display: block;
}

#latest-news > h2 {
	color: red;
	display: inline;
}

#latest-funding {
	@include sitediv(orange);
	height: 200px;
}

#articles {
	@include sitediv(purple);
	height: 400px;
}

#latest-deals {
	@include sitediv(red);
}

#socials-etc {
	@include sitediv(cyan);
	height: 100px;
}

footer {
	@include sitediv(magenta);
	height: 100px;
}

// Child Elements

.top-photo {
	height: 50%;
	width: 33%;
	float: left;
	background-color: yellowgreen;
	border-radius: 5px;
	margin: 1px;
}

.top-photo:first-child {
	height: 100%;
	width: 65%;
}

@media (max-width: 767px) {
	.top-photo {
		min-height: 30vh;
		width: 100%;
		height: auto;
		float: none;
	}

	.top-photo:first-child {
		height: auto;
		width: 100%;
	}
}

// .top-photo
