@use "reset";

@mixin sitediv($color, $size) {
	display: flex;
	background-color: $color;
	height: $size;
}

#black-header {
	@include sitediv(black, 30px);
}

#fixed-header {
	@include sitediv(yellow, 80px);
}

#top-photos {
	@include sitediv(red, 75vh);
	display: block;
	max-height: 560px;
	box-sizing: border-box;
	border: 2px solid black;
	overflow: hidden;
}

@media (max-width: 1023px) and (min-width: 768px) {
	#top-photos {
		height: 60vh;
	}
}

@media (max-width: 767px) {
	#top-photos {
		height: 90vh;
	}
}

#latest-news {
	@include sitediv(green, 450px);
}

#latest-funding {
	@include sitediv(orange, 200px);
}

#articles {
	@include sitediv(purple, 400px);
}

#latest-deals {
	@include sitediv(pink, 400px);
}

#socials-etc {
	@include sitediv(cyan, 100px);
}

footer {
	@include sitediv(magenta, 100px);
}

// Child Elements

.top-photo {
	height: 50%;
	width: 33%;
	float: left;
	background-color: yellowgreen;
	border-radius: 5px;
	margin: 1px;
}

.top-photo:first-child {
	height: 100%;
	width: 65%;
}

@media (max-width: 767px) {
	.top-photo {
		min-height: 30vh;
		width: 100%;
		height: auto;
		float: none;
	}

	.top-photo:first-child {
		height: auto;
		width: 100%;
	}
}

// .top-photo